{% load static %}
{% block top_menu %}
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'main' %}" class="nav-link px-2 text-white fs-5">Home</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
            <!-- Modal settings #data --!>
            {% if user.is_authenticated %}
            <div class="text-end">
                <a href="{% url 'logout' %}" class="btn btn-warning" role="button">Logout</a>
            </div>
            <div>
                <button type="button">
                    <a id="basket" href="{% url 'basket:view' %}"><img src="{% static "img/basket.svg" %}"> {{ quantity }}</a>
                </button>
            </div>
            {% else %}
            <div class="text-end">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal-sing-up">
                    Login
                </button>
            </div>
            {% endif %}

        </div>
    </div>

</header>
{% endblock %}