{% extends 'mainapp/index.html' %}
{% block title %}
Registration
{% endblock %}
{% block content %}
<div style="margin-left: 2%; margin-top: 2%">

    <form method="post">
        {% csrf_token %}
        {% for i in form %}
  <div>
    <p><label>{{i.label}}:</label>{{i}}</p>
    <div class="form-error">{{i.errors}}</div>
  </div>
        {% endfor %}
  <button class="py-2 mb-2 btn btn-secondary bg-primary" style="margin-top: 2%" value="submit" type="submit">Sign up</button>
</form>



</div>




{% endblock %}